@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600&subset=latin-ext");
.initAnim {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.solidAnim {
  color: #fff;
  background: linear-gradient(-45deg, #9ac3f8, #559fff, #1e7af3, #024397);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.yellow {
  background: linear-gradient(-45deg, #bd9308, #c5b800, #d1d400, #cde400);
}
.green {
  background: linear-gradient(-45deg, #08e200, #1abe28, #21e42b, #029716);
}
* {
  font-family: "Nunito", sans-serif;
}
a {
  color: #f2f2f2;
}
.table div {
  padding: 10px 15px;
  font-size: 18px;
}
.header {
  font-weight: 600;
  font-size: 18px;
}
h3,
h4,
h1 {
  font-weight: 300;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hoverable {
  transition: all 0.5s ease;
  cursor: pointer;
}
.transition {
  transition: all 0.5s ease;
}
.full {
  width: 100%;
  height: calc(100% - 155px);
  position: absolute;
  left: 0;
  top: 155px;
}
.hoverable:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
.v-avatar {
  overflow: hidden !important;
}
.v-avatar img {
  width: auto !important;
  height: 100% !important;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}
