<template>
  <div>
    <div class="header">
      <slot name="header"></slot>
    </div>
    <div class="content" :style="wrapperStyle">
      <v-layout style="width:100%; height:100%; " align-center justify-center>
        <v-card style="background:none; position:relative; overflow:hidden;">
          <div class="transparentGlass"></div>
          <v-layout align-center justify-center column>
            <div class="header_clone" style="padding:15px">
              <slot name="header"></slot>
            </div>
            <div>
              <slot name="content"></slot>
            </div>
          </v-layout>
        </v-card>
      </v-layout>
    </div>
  </div>
</template>

<script>
export default {
  props: ["opened"],
  computed: {
    wrapperStyle() {
      var opacity = `opacity:${this.opened ? 1 : 0};`;
      var pEvents = `pointer-events: ${this.opened ? "initial" : "none"};`;
      return pEvents + opacity + "transition: all .5s;";
    }
  }
};
</script>

<style scoped>
.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: left;
  z-index: 1;
}
.transparentGlass {
  background: rgba(255, 255, 255, 0.55);
  -webkit-filter: blur(20px);
  filter: blur(26px);
  left: -20px;
  top: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  position: absolute;
  z-index: -1;
}
</style>