<template>
  <div
    :style="`height:${height}; width:${width}; overflow:hidden;`"
    @click="moveOn"
    @keydown="keyOn"
    @contextmenu="moveBack"
  >
    <slot :iteration="iteration" :setIteration="(x)=>{setIteration(x)}"></slot>
  </div>
</template>

<script>
export default {
  name: "Presentation",
  data() {
    return {
      iteration: 0
    };
  },
  methods: {
    setIteration(iteration) {
      this.iteration = iteration;
    },
    moveOn() {
      this.iteration++;
    },
    keyOn(e) {
      console.log(e);
    },
    moveBack(e) {
      e.preventDefault();
      if (this.iteration != 0) this.iteration--;
    }
  },
  created() {
    window.addEventListener("keyup", e => {
      console.log(e);
      if (e.keyCode == 39 || e.keyCode == 32) this.moveOn();
      else if (e.keyCode == 37) this.moveBack(e);
    });
  },
  props: {
    width: {
      type: String,
      default: "100%"
    },
    height: {
      type: String,
      default: "100%"
    }
  }
};
</script>

<style scoped>
</style>