<template>
  <div
    :style="`width:100%; height:100%; position:absolute; top:0; left:0;${actualStyles}`"
    :class="actualClass"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ["iteration", "styles", "transitions", "classes"],
  computed: {
    actualStyles() {
      var style = "";
      if (this.styles) {
        this.styles.forEach(x => {
          if (x.condition(this.iteration)) style += ";" + x.style;
        });
      }
      var transition = "none";
      if (this.transitions) {
        this.transitions.forEach(x => {
          if (x.condition(this.iteration)) transition = x.transition;
        });
      }
      style += "; transition: " + transition;
      return style;
    },
    actualClass() {
      var cls = "";
      if (!this.classes) return "";
      this.classes.forEach(x => {
        console.log(x);
        if (x.condition(this.iteration)) cls += " " + x.style;
      });
      return cls;
    }
  }
};
</script>

<style scoped>
</style>