<template>
  <div id="app">
    <Presentation :width="'100%'" :height="'100%'">
      <template slot-scope="x">
        <!--Backgrounds -->
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
            {style:'opacity:1', condition:(iteration)=>iteration == 0},
            {style:'opacity:0', condition:(iteration)=>iteration > 0},
            {style:'opacity:1', condition:(iteration)=>iteration == 3||iteration == 4||iteration == 5},
            {style:'opacity:1', condition:(iteration)=>iteration == 7}
          ]"
          :classes="[
            {style: 'initAnim', condition:(iteration)=>iteration >= 0},
            {style: 'yellow', condition:(iteration)=>iteration >= 3},
            {style: 'green', condition:(iteration)=>iteration >= 7}
          ]"
          :transitions="[
            {transition:'all 1s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        ></PresentationBackground>
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
            {style:'opacity:0', condition:(iteration)=>iteration == 0},
            {style:'opacity:1', condition:(iteration)=>iteration > 0},
            {style:'opacity:0', condition:(iteration)=>iteration == 3||iteration == 4||iteration == 5},
            {style:'opacity:0', condition:(iteration)=>iteration == 7}
          ]"
          :classes="[
            {style: 'solidAnim', condition:(iteration)=>iteration >= 0}
          ]"
          :transitions="[
            {transition:'all 1s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        ></PresentationBackground>
        <!-- First Page -->
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
          {style:'transform: translateY(0)', condition:(iteration)=>iteration == 0},
          {style:'transform: translateY(-100vh)', condition:(iteration)=>iteration >= 1},
        ]"
          :transitions="[
            {transition:'all 1s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <v-layout align-center justify-center style="width:100%; height:100%">
            <div>
              <h1 style="color:#FFF; font-size: 13vh; font-weight:300">JavaScript</h1>
              <h4 style="color:#FFF; font-weight: 300; font-size:2vh">Lukáš Zátek</h4>
            </div>
          </v-layout>
        </PresentationBackground>
        <!-- Second Slide -->
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
          {style:'transform: translateY(100vh)', condition:(iteration)=>iteration == 0},
          {style:'transform: translateY(0vh)', condition:(iteration)=>iteration == 1},
          {style:'transform: translateX(-100vw)', condition:(iteration)=>iteration >=2},
        ]"
          :transitions="[
            {transition:'all 1s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <v-layout align-start justify-center column wrap style="padding: 45px; height:100%">
            <v-avatar
              :size="250"
              class="elevation-3 hoverable"
              @click="(e)=>{e.stopPropagation(); x.setIteration(3);}"
            >
              <v-img src="Eich.jpg"/>
            </v-avatar>
            <h4 style="color:#FFF; font-weight:300; padding:15px; font-size:8vh">Brendon Eich</h4>
            <v-card-text style="text-align:left; color: #FFF; font-size:4vh">
              - founder of JavaScript
              <br>- co-founder and exCEO of Mozilla
              <br>- CEO of Brave Software
              <br>- co-creator of Basic Attention Token
            </v-card-text>
          </v-layout>
        </PresentationBackground>
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
          {style:'transform: translateX(100vw)', condition:(iteration)=>iteration >= 0},
          {style:'transform: translateX(0vw)', condition:(iteration)=>iteration == 2},
          {style:'transform: translateY(-100vh)', condition:(iteration)=>iteration >= 3},
        ]"
          :transitions="[
            {transition:'all .5s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <v-layout align-start justify-center column wrap style="padding: 45px; height:100%">
            <v-avatar
              :size="250"
              class="elevation-3 hoverable"
              @click="(e)=>{e.stopPropagation(); x.setIteration(3);}"
            >
              <v-img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png"
              />
            </v-avatar>
            <h4 style="color:#FFF; font-weight:300; padding:15px; font-size:8vh">Javascript</h4>
            <v-card-text style="text-align:left; color: #FFF; font-size:4vh">
              - found in 1995
              <br>- multiple paradigms (event-driven, functional, object-oriented, prototype-based)
              <br>- using ECMAscript standards (currently at ES8 released in June 2018)
              <br>- dynamic typed
              <br>- definitely not Java
            </v-card-text>
          </v-layout>
        </PresentationBackground>
        <!-- Third Slide -->
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
            {style:'transform: translateY(100vh)', condition:(iteration)=>iteration >= 0},
            {style:'transform: translateY(0vh)', condition:(iteration)=>iteration >= 3},
            {style:'transform: translateY(-100vh)', condition:(iteration)=>iteration >= 8},
          ]"
          :transitions="[
            {transition:'all .8s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <h1 style="padding: 10px; color: #FFF">Usages of Javascript</h1>
          <v-layout row wrap style="height:100%">
            <PresentationItem
              :iteration="x.iteration"
              :styles="[
                {style:'transform: translateX(100vw)', condition:(iteration)=>iteration >= 0},
                {style:'transform: translateX(0vw)', condition:(iteration)=>iteration >= 4},
              ]"
              :transitions="[
                {transition:'all .5s ease;', condition:(iteration)=>iteration >= 0},
              ]"
            >
              <v-layout column align-center justify-center style="height:100%; padding:15px">
                <v-flex>
                  <h3
                    style="font-size: 4vh; color: #FFF"
                    @click="($event)=>{$event.stopPropagation(); comparision = true;}"
                  >Web development</h3>
                </v-flex>
                <v-flex>
                  <Hero tag="vue" v-if="!comparision" key="vue">
                    <v-avatar
                      hero-tag="vue"
                      ref="vvue"
                      hero-deep="true"
                      :size="124"
                      style="background:#FFF"
                      class="elevation-3 hoverable"
                      @click="(e)=>{e.stopPropagation(); x.setIteration(5);}"
                    >
                      <img
                        src="https://cdn-images-1.medium.com/max/2600/1*nfvapd86apvGH-hNBYkYuw.png"
                      >
                    </v-avatar>
                  </Hero>
                </v-flex>
                <v-flex>
                  <Hero tag="react" v-if="!comparision" key="react">
                    <v-avatar
                      hero-tag="react"
                      ref="rreact"
                      hero-deep="true"
                      :size="124"
                      class="elevation-3 hoverable"
                      @click="(e)=>{e.stopPropagation(); x.setIteration(7);}"
                    >
                      <img
                        src="https://cdn-images-1.medium.com/max/1200/1*y6C4nSvy2Woe0m7bWEn4BA.png"
                      >
                    </v-avatar>
                  </Hero>
                </v-flex>
                <v-flex>
                  <Hero tag="angular" v-if="!comparision" key="angular">
                    <v-avatar
                      hero-tag="angular"
                      ref="aangular"
                      hero-deep="true"
                      :size="124"
                      class="elevation-3 hoverable"
                      style="background:#FFF"
                      @click="(e)=>{e.stopPropagation(); x.setIteration(9);}"
                    >
                      <img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                      >
                    </v-avatar>
                  </Hero>
                </v-flex>
              </v-layout>
            </PresentationItem>
            <PresentationItem
              :iteration="x.iteration"
              :styles="[
                {style:'transform: translateX(100vw)', condition:(iteration)=>iteration >= 0},
                {style:'transform: translateX(0vw)', condition:(iteration)=>iteration >= 5},
              ]"
              :transitions="[
                {transition:'all .5s ease;', condition:(iteration)=>iteration >= 0},
              ]"
            >
              <v-layout column align-center justify-center style="height:100%; padding:15px">
                <v-flex>
                  <h3 style="font-size: 4vh; color: #FFF">Mobile development</h3>
                </v-flex>
                <v-flex>
                  <v-avatar
                    :size="124"
                    style="background:#FFF"
                    class="elevation-3 hoverable"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(5);}"
                  >
                    <v-img src="https://cordova.apache.org/static/img/cordova_bot.png"/>
                  </v-avatar>
                </v-flex>
                <v-flex>
                  <v-avatar
                    :size="124"
                    class="elevation-3 hoverable"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(7);}"
                  >
                    <v-img
                      src="https://cdn-images-1.medium.com/max/1200/1*v7zR0C-zHeHjyo0RapzMyA.jpeg"
                    />
                  </v-avatar>
                </v-flex>
                <v-flex>
                  <v-avatar
                    :size="124"
                    class="elevation-3 hoverable"
                    style="background:#FFF"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(9);}"
                  >
                    <v-img src="https://cdn-images-1.medium.com/max/1200/0*Qup3L7adSA8iZO_R.png"/>
                  </v-avatar>
                </v-flex>
              </v-layout>
            </PresentationItem>
            <PresentationItem
              :iteration="x.iteration"
              :styles="[
                {style:'transform: translateX(100vw)', condition:(iteration)=>iteration >= 0},
                {style:'transform: translateX(0vw)', condition:(iteration)=>iteration >= 6},
              ]"
              :transitions="[
                {transition:'all .5s ease;', condition:(iteration)=>iteration >= 0},
              ]"
            >
              <v-layout column align-center justify-center style="height:100%; padding:15px">
                <v-flex>
                  <h3 style="font-size: 4vh; color: #FFF">Desktop development</h3>
                </v-flex>
                <v-flex>
                  <v-avatar
                    :size="124"
                    style="background:#FFF"
                    class="elevation-3 hoverable"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(5);}"
                  >
                    <v-img src="https://cdn.auth0.com/blog/logos/electron.png"/>
                  </v-avatar>
                </v-flex>
                <v-flex>
                  <v-avatar
                    :size="124"
                    style="background:#FFF"
                    class="elevation-3 hoverable"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(5);}"
                  >
                    <v-img
                      src="https://mobidev.biz/content/blog/CrossPlatformDevelopmentForDesktops/NWJS.png"
                    />
                  </v-avatar>
                </v-flex>
              </v-layout>
            </PresentationItem>
            <PresentationItem
              :iteration="x.iteration"
              :styles="[
                {style:'transform: translateX(100vw)', condition:(iteration)=>iteration >= 0},
                {style:'transform: translateX(0vw)', condition:(iteration)=>iteration >= 7},
              ]"
              :transitions="[
                {transition:'all .5s ease;', condition:(iteration)=>iteration >= 0},
              ]"
            >
              <v-layout column align-center justify-center style="height:100%; padding:15px">
                <v-flex>
                  <h3 style="font-size: 4vh; color: #FFF">Server development</h3>
                </v-flex>
                <v-flex>
                  <v-avatar
                    :size="124"
                    style="background:#FFF"
                    class="elevation-3 hoverable"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(5);}"
                  >
                    <v-img src="https://www.itnetwork.cz/images/10733/nodejs/nodejs_logo.png"/>
                  </v-avatar>
                </v-flex>
              </v-layout>
            </PresentationItem>
          </v-layout>
        </PresentationBackground>
        <!-- Forth Slide -->

        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
            {style:'transform: translateY(100vh)', condition:(iteration)=>iteration >= 0},
            {style:'transform: translateY(0vh)', condition:(iteration)=>iteration >= 8},
            {style:'transform: translateY(-100vh)', condition:(iteration)=>iteration >= 9},
          ]"
          :transitions="[
            {transition:'all .8s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <v-layout align-start justify-center column wrap style="padding: 45px; height:100%">
            <h4 style="color:#FFF; font-weight:300; padding:15px; font-size:8vh">Keywords</h4>
            <v-card-text style="text-align:left; color: #FFF; font-size:3vh">
              <h4>
                <i>
                  <b>"Programming paradigm"</b>
                </i>
              </h4>- way to classify programming languages based on their features.
              <h4>
                <i>
                  <b>"Prototype based programming"</b>
                </i>
              </h4>- is a style of object-oriented programming, in which behaviour reuse is performed via a process of reusing existing objects via delegation that serve as prototypes.
              <h4>
                <i>
                  <a href="https://gist.github.com/MichalZalecki/c964192f830360ce6361">
                    <b
                      style="color:#FFF; text-style:none; text-decoration: none"
                    >"Weakly typed languages"</b>
                  </a>
                </i>
              </h4>- does not prioritize the datatype of data to be manipulated.
              <br>- compiler will perform type conversion automatically.
              <h4>
                <i>
                  <b>"First-Class functions"</b>
                </i>
              </h4>- functions in such language are handled like variables
            </v-card-text>
          </v-layout>
        </PresentationBackground>
        <!-- Fifth slide -->
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
            {style:'transform: translateY(100vh)', condition:(iteration)=>iteration >= 0},
            {style:'transform: translateY(0vh)', condition:(iteration)=>iteration == 9},
            {style:'transform: translateY(-100vh)', condition:(iteration)=>iteration > 9},
          ]"
          :transitions="[
            {transition:'all .8s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <v-layout align-start justify-center column wrap style="padding: 45px; height:100%">
            <h4 style="color:#FFF; font-weight:300; padding:15px; font-size:8vh">Sources</h4>
            <v-card-text style="text-align:left; color: #FFF; font-size:3vh">
              - Javascript, available online at
              <a
                href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                target="_blank"
              >https://developer.mozilla.org/en-US/docs/Web/JavaScript</a></br>
              - Angular vs Vue vs React, available online at
              <a
                href="https://www.codeinwp.com/blog/angular-vs-vue-vs-react/"
                target="_blank"
              >https://www.codeinwp.com/blog/angular-vs-vue-vs-react/</a></br>
              - Brendon Eich, available online at
              <a
                href="https://en.wikipedia.org/wiki/Brendan_Eich"
                target="_blank"
              >https://en.wikipedia.org/wiki/Brendan_Eich</a></br>
              - Type analysis for Javascript, paper available online at
              <a
                href="https://cs.au.dk/~amoeller/papers/tajs/paper.pdf"
                target="_blank"
              >https://cs.au.dk/~amoeller/papers/tajs/paper.pdf</a></br>
            </v-card-text>
          </v-layout>
        </PresentationBackground>

        <!-- Sixth slide -->
        <PresentationBackground
          :iteration="x.iteration"
          :styles="[
            {style:'transform: translateY(100vh)', condition:(iteration)=>iteration >= 0},
            {style:'transform: translateY(0vh)', condition:(iteration)=>iteration >= 10},
          ]"
          :transitions="[
            {transition:'all .8s ease;', condition:(iteration)=>iteration >= 0},
          ]"
        >
          <v-layout
            align-start
            justify-center
            column
            wrap
            style="padding: 45px; height:100%; width:100%"
          >
            <h4
              style="color:#FFF; font-weight:300; padding:15px; font-size:8vh"
            >Thank you for your attention</h4>
            <v-layout row style="width:100%" justify-space-between>
              <v-layout column align-center justify-center>
                <img src="presentationQR.png" style="width:30vw">
                <h4 style="font-size:21px; color:#FFF">
                  Presentation at:
                  <a
                    href="https://linkshare-d1c06.firebaseapp.com"
                    target="_blank"
                  >https://linkshare-d1c06.firebaseapp.com</a>
                </h4>
              </v-layout>
              <v-layout column align-center justify-center>
                <img src="gitlab.png" style="width:30vw">
                <h4 style="font-size:21px; color:#FFF">
                  Code available at:
                  <a
                    href="https://gitlab.com/zateklukas/jspresentation"
                    target="_blank"
                  >https://gitlab.com/zateklukas/jspresentation</a>
                </h4>
              </v-layout>
            </v-layout>
          </v-layout>
        </PresentationBackground>
      </template>
    </Presentation>
    <v-layout
      :style="`transition: all .5s; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(0,0,0,.5); padding: 40px;opacity:${comparision?1:0}; pointer-events:${comparision?'initial':'none'}`"
    >
      <v-btn
        icon
        flat
        @click="comparision = false"
        style="position:absolute; top:5px; right:5px;"
        dark
      >
        <v-icon>close</v-icon>
      </v-btn>
      <v-card style="width:100%; ">
        <v-card-text style="height:100%; overflow:hidden">
          <v-layout column style="height:100%; width:100%" align-center justify-space-around>
            <v-layout row style="width:100%">
              <v-flex xs3></v-flex>
              <v-flex xs3>
                <Hero tag="angular" v-if="comparision" key="angular1">
                  <v-avatar
                    hero-tag="angular"
                    ref="aangular"
                    hero-deep="true"
                    :size="124"
                    class="elevation-3"
                    style="background:#FFF; visibility:hidden"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(9);}"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                    >
                  </v-avatar>
                </Hero>
              </v-flex>
              <v-flex xs3>
                <Hero tag="react" v-if="comparision" key="react1">
                  <v-avatar
                    hero-tag="react"
                    ref="rreact"
                    hero-deep="true"
                    :size="124"
                    class="elevation-3"
                    style="background:#FFF; visibility:hidden"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(7);}"
                  >
                    <img
                      src="https://cdn-images-1.medium.com/max/1200/1*y6C4nSvy2Woe0m7bWEn4BA.png"
                    >
                  </v-avatar>
                </Hero>
              </v-flex>
              <v-flex xs3>
                <Hero tag="vue" v-if="comparision" key="vue1">
                  <v-avatar
                    hero-tag="vue"
                    ref="vvue"
                    hero-deep="true"
                    :size="124"
                    style="background:#FFF; visibility:hidden"
                    class="elevation-3"
                    @click="(e)=>{e.stopPropagation(); x.setIteration(5);}"
                  >
                    <img
                      src="https://cdn-images-1.medium.com/max/2600/1*nfvapd86apvGH-hNBYkYuw.png"
                    >
                  </v-avatar>
                </Hero>
              </v-flex>
            </v-layout>
            <div
              class="transition full"
              :style="comparision_slide != 0 ? 'transform: translateX(-100vw)':'transform: translateX(0px)'"
            >
              <v-layout row style="width:100%" class="table header">
                <v-flex xs3 class="header"></v-flex>
                <v-flex xs3>Angular</v-flex>
                <v-flex xs3>React</v-flex>
                <v-flex xs3>Vue</v-flex>
              </v-layout>

              <v-layout row style="width:100%" class="table">
                <v-flex xs3 class="header">Initial release</v-flex>
                <v-flex xs3>2010</v-flex>
                <v-flex xs3>2013</v-flex>
                <v-flex xs3>2014</v-flex>
              </v-layout>

              <v-layout row style="width:100%" class="table">
                <v-flex xs3 class="header">Official site</v-flex>
                <v-flex xs3>angular.io</v-flex>
                <v-flex xs3>reactjs.org</v-flex>
                <v-flex xs3>vuejs.org</v-flex>
              </v-layout>

              <v-layout row style="width:100%" class="table">
                <v-flex xs3 class="header">Approx. size (KB)</v-flex>
                <v-flex xs3>500</v-flex>
                <v-flex xs3>100</v-flex>
                <v-flex xs3>80</v-flex>
              </v-layout>

              <v-layout row style="width:100%" class="table">
                <v-flex xs3 class="header">Current version</v-flex>
                <v-flex xs3>7</v-flex>
                <v-flex xs3>16.6.3</v-flex>
                <v-flex xs3>2.17</v-flex>
              </v-layout>

              <v-layout row style="width:100%" class="table">
                <v-flex xs3 class="header">Used by</v-flex>
                <v-flex xs3>Google, Wix</v-flex>
                <v-flex xs3>Facebook, Uber</v-flex>
                <v-flex xs3>Alibaba, GitLab</v-flex>
              </v-layout>
            </div>
            <div
              class="transition full"
              :style="comparision_slide != 1 ? 'transform: translateX(-100vw)':'transform: translateX(0px)'"
            >
              <img
                src="https://iotvnaw69daj.i.optimole.com/w:692/h:414/q:auto/https://mk0codeinwp10tp0961a.kinstacdn.com/wp-content/uploads/2018/12/img-1.png"
              >
            </div>
            <div
              class="transition full"
              :style="comparision_slide != 2 ? 'transform: translateX(-100vw)':'transform: translateX(0px)'"
            >
              <img src="graph.PNG">
            </div>
            <v-layout row style="width:100%; position:absolute; bottom:0; left:0">
              <v-flex>
                <v-btn flat icon @click="comparision_slide--">
                  <v-icon>keyboard_arrow_left</v-icon>
                </v-btn>
              </v-flex>
              <v-flex>
                <v-btn flat icon @click="comparision_slide++">
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-layout>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Presentation from "./components/Presentation.vue";
import PresentationBackground from "./components/PresentationBackground.vue";
import PresentationItem from "./components/PresentationItem.vue";
import Openable from "./components/Openable.vue";
export default {
  name: "app",
  components: {
    HelloWorld,
    Presentation,
    PresentationBackground,
    PresentationItem,
    Openable
  },
  data() {
    return {
      comparision: false,
      comparision_slide: 0
    };
  }
};
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
